<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>WikiGame</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/starter-template.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

      <script>
     var inc = 0;
      $(document).ready(function() {

        document.getElementById('main_frame').onload = function(event) {
          $("#counter").html(inc++);
        }
      });
      
    </script>
    <style type="text/css">
                body {
                  height: 100%;
                }
                #main_frame {
                        position: relative;
                        margin: 0;
                        padding: 0;
                        width: calc(100% + 177px);
                        height: calc(100% + 90px);
                        border: 0;
                        margin-top: -90px;
                        margin-left: -177px;
                }
        </style>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">WikiGame</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#">Counter <span class="badge" id = "counter"></span></a></li>
          </ul>
          <!-- <div><script type="text/javascript"></script></div> -->
        </div><!--/.nav-collapse -->
        <div id="counter"></div>
      </div>
    </div>

    <!-- <div class="container" style="position: absolute; z-index: 100;"> -->

      <!-- <div class="starter-template" >
        <h1>The first game using Wikipedia</h1>
        <p class="lead">This is a little game using Wikipedia.<br> Please, add start and end position.</p>
      </div> -->




      <!-- <iframe id="pizda" src="http://ru.wikipedia.org/wiki/%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D1%8F" ></iframe>
    <div id="xyu" style="width: 100%; height: 400px;">
    </div> -->

    <!-- </div>/.container -->
     <iframe id="main_frame" src={{ startPosition }}></iframe>
  </body>
</html>